/* work-sans font from google font{import}  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/*  */
*{
        font-family: 'Work Sans', sans-serif;
} 
body{
overflow-x: hidden;
}

.btn-primary{
        border-radius: 8px;
        color: #FFF;
        font-size: 1.25rem;
        padding: 20px 25px;
        background: #FF900E;
        
        cursor: pointer;
        border: none;

}
header{ 
        background: rgba(255, 144, 14, 0.10);
        padding: 50px 240px;
}
nav > ul{
        display: flex;
}
nav li {
        list-style: none;
        margin-right: 30px;
        font-weight:  500;
        font-size: 1rem;
}
nav li a{
        text-decoration: none;
        color: #424242;
}
nav{ 
        border: 1px solid rebeccapurple;
        display: flex;
        justify-content: space-between;
        /* justify-content: space-around; */
        /* justify-content: space-evenly; */
        align-items: center;
}
.nav-tittle{
        color: #131313;
        font-size: 2.8rem;
        font-weight: 700;
}
/* /banner section */
.banner-content{
        max-width: 800px;
        border: 1px solid red;
        text-align: center;
        margin: 0 auto;
}
.banner-tittle{
        color: #131313;
        /* font-size: 64px; */
        font-size: 4rem;
        font-weight: 700;
       
}
.banner-description{
        color: #727272;
        /* font-size: 16px; */
        font-size: 1rem;
        font-weight: 400;
}
.banner img{
        margin-top: 20px;
        width: 100%;
}

/* main section */
main{
        max-width: 1440px;
        margin: 70px auto;
}
.team-container{
        display: flex;
        align-items: center;
        /*  */
        width: 95%;
        margin: 0 auto;
}
.team-img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
}
.team-content{
        padding: 0 30px;
}
.teams-title{
        font-size: 2.8rem;
        font-weight: 700;
}
.teams-title .quick-list{
        font-weight: 500;
        color: #727272;
}
 .teams-title span{
        color: #FF900E;
}
.teams-description{
        color: #727272;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
}

/* fact section */

/* .fact{
        width: 50%;
} */
.fact-card-container{
        display: flex;
        justify-content: space-around;
        margin-top: 3rem;
}
.fact-card-container .card{
        border-radius: 8px;
        border: 1px solid #FF900E;
        text-align: center;
        padding: 30px;
        
}
.fact-card-container .card-title{
        font-weight: 600;
        font-size: 1.2rem;
        color: #727272;
        margin-top: 10px;
}

.fact-card-container .card-stats{
        font-size: 2.8rem;
        color: #424242;
        margin-top: 10px;
        margin-bottom: 10px;

}
/* sponsors section */
.sponsors{
        text-align: center;
}
.sponsor-img-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px ;
        gap: 20px;
}

.sponsor-img-container img{
        width: 165px;
}

/* frature section */
.features{
        display: flex;
        margin-top: 130px;
        gap: 100px;
}
.features .nav-tittle{
        border-left: 5px solid #FF900E;
        padding-left: 20px;
}
.feature-img img{
        height: 90%;
        /* width: 100%; */
        margin-left: 90px;
}

.feature-content .card{

        padding: 30px;
        margin-bottom: 20px;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-year{
        border-radius: 8px;
        background: #FF900E;
        text-align: center;
        width: 342px;
        padding: 30px;
        position: relative;
        /* left: 300px; */
        bottom: 100px;
        /* right: 200px; */
        /* margin-left: -100px; */
}
.ten-year h3{
        color: #FFF;
        font-size: 3rem;
        font-weight: 700;
        margin: 0px;
}

.ten-year p{
        color: #FFF;
        font-size: 1rem;
        font-weight: 500;
 }






/* responsive styles */


/* for mobile devices */
@media screen and (max-width: 576px) {
        header{
                padding : 20px

        }
        nav,
        .team-container,
        .features,
        .fact-card-container,
        .sponsor-img-container
        {
                flex-direction: column;
                
        }
        .feature-img img{
                width: 100%;
                margin-left: 0px;
        }
        /* .ten-year{
                margin-top: 0px;
        } */

        .team-img-container{
                grid-template-columns: 1fr;
                
        }
        .team-content , .fact-card-container{
                padding: 0px;
        }
        .fact-card-container{
                gap: 10px;
                margin: 0px;
        }

        
}


/* for medium devices */
@media  screen and (min-width: 576px) and (max-width: 962px){
        header{
                padding : 50px

        }
       nav, .team-container,.features{
        flex-direction: column;
       }

        
}






